# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###



#솔루션 및 프로젝트를 같은 디렉토리에 배치 할 때 ()
.gitignore.txt
.vs
Debug

!*.cpp

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.tlog
*.exe
*.log
*.obj
*.idb
*.pdb

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++
